body{
    background: white;
}

#side_nav{
    background: white;
}

.content{
    min-height: 100vh;
    width: 100%;
}

#b{
    margin-bottom: 10px;  
}

.sidebar li{
    margin-bottom: 12px;  
}

.sidebar li:hover{
    background: orange;
    border-radius: 8px;
}

.content h2{
    padding-left: 215px;
}

#dropdownMenuButton1{
    margin-top: 31px;
}

#Botones{
    margin-top: 20px;
}